In [1]:
import numpy as np
import pandas as pd
from sklearn.svm import SVC

In [2]:
def save_predictions(Y_pred):
    Y_pred = pd.DataFrame(y_pred, columns=['Bound'])
    index  = Y_pred.index.rename('Id')
    Y_pred = Y_pred.set_index(index)
    Y_pred.to_csv('predictions.csv')

In [3]:
Y_train = pd.DataFrame()
for i in range(3):
    Y = pd.read_csv(f'Data/Ytr{i}.csv', index_col=0)
    Y_train = pd.concat([Y_train,Y])
Y_train.head()

    Bound
Id
0       1
1       1
2       1
3       1
4       1

In [13]:
X_train = pd.DataFrame()
for i in range(3):
    X = pd.read_csv(f'Data/Xtr{i}_mat100.csv', header=None, sep=' ')
    #X = pd.read_csv(f'Data/Xtr{i}.csv', index_col=0)
    X_train = pd.concat([X_train,X])
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.01087,0.032609,0.010870,0.000000,0.010870,0.010870,0.000000,0.01087,0.000000,0.000000,...,0.010870,0.0,0.00000,0.010870,0.01087,0.000000,0.00000,0.010870,0.021739,0.01087
1,0.00000,0.010870,0.010870,0.021739,0.000000,0.021739,0.000000,0.00000,0.021739,0.000000,...,0.032609,0.0,0.01087,0.010870,0.01087,0.000000,0.01087,0.000000,0.021739,0.00000
2,0.01087,0.021739,0.010870,0.010870,0.021739,0.010870,0.000000,0.00000,0.000000,0.010870,...,0.000000,0.0,0.01087,0.000000,0.01087,0.021739,0.00000,0.021739,0.021739,0.00000
3,0.00000,0.000000,0.043478,0.000000,0.000000,0.000000,0.043478,0.00000,0.000000,0.043478,...,0.000000,0.0,0.00000,0.032609,0.00000,0.043478,0.00000,0.000000,0.000000,0.00000
4,0.01087,0.000000,0.021739,0.010870,0.010870,0.021739,0.010870,0.01087,0.000000,0.010870,...,0.000000,0.0,0.00000,0.021739,0.01087,0.021739,0.00000,0.032609,0.010870,0.00000

In [14]:
X_test= pd.DataFrame()
for i in range(3):
    X = pd.read_csv(f'Data/Xte{i}_mat100.csv', header=None, sep=' ')
    #X = pd.read_csv(f'Data/Xtr{i}.csv', index_col=0)
    X_test = pd.concat([X_test,X])
X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.000000,0.00000,0.010870,0.00000,0.000000,0.021739,0.01087,0.000000,0.01087,0.021739,...,0.000000,0.010870,0.010870,0.000000,0.010870,0.032609,0.00000,0.021739,0.032609,0.00000
1,0.000000,0.00000,0.010870,0.00000,0.010870,0.010870,0.01087,0.000000,0.00000,0.010870,...,0.021739,0.000000,0.010870,0.021739,0.000000,0.000000,0.01087,0.010870,0.000000,0.00000
2,0.010870,0.00000,0.000000,0.00000,0.010870,0.000000,0.01087,0.021739,0.01087,0.000000,...,0.000000,0.000000,0.021739,0.000000,0.010870,0.000000,0.01087,0.010870,0.000000,0.00000
3,0.021739,0.00000,0.000000,0.00000,0.021739,0.010870,0.00000,0.021739,0.00000,0.032609,...,0.000000,0.021739,0.021739,0.010870,0.010870,0.021739,0.00000,0.021739,0.000000,0.01087
4,0.010870,0.01087,0.032609,0.01087,0.000000,0.021739,0.00000,0.010870,0.00000,0.010870,...,0.000000,0.000000,0.010870,0.010870,0.021739,0.010870,0.00000,0.000000,0.010870,0.00000

In [15]:
def base_model(X_train, Y_train, X_test):
    clf = SVC()
    clf.fit(X_train, np.ravel(Y_train))
    return clf.predict(X_test)